.form-group {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.form-group label {
  flex-basis: 100px;
  display: block;
  // margin-bottom: 5px;
}

.form-group p {
  color: red;
  margin: 0;
}