.confirmation-modal {
  display: flex;
  flex-direction: column;
  width: 300px;
  // height: 30vh;
  min-height: 300px;
  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__users {
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 400px;
  }
}