.default-layout {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.chat-page {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.auth-layout {
	display: flex;
	height: 100%;
	flex-direction: column;
}
.auth-page {
	display: flex;
	// justify-content: space-between;
	// flex-grow: 1;
}