.input {
	input {
		padding: 10px;
		background: transparent;
		border: none;
		border-bottom: 1px solid var(--cool-blue);
		width: 100%;
		&:focus {
			outline: none;
		}
	}
	.blue {
		background-color: blue;
		color: white;
	}

	.blueDark {
		background-color: darkblue;
		color: white;
	}

	.grey {
		background-color: grey;
		color: black;
	}
}