@font-face {
	font-weight: 100;
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Thin.ttf) format('woff2');
}
@font-face {
	font-weight: 300;
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Light.ttf) format('woff2');
}

@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf) format('woff2');
}

@font-face {
	font-weight: 500;
	font-family: 'Roboto';
	src: url(../Roboto/Roboto-Medium.ttf) format('woff2');
}

@font-face {
	font-weight: 700;
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Bold.ttf) format('woff2');
}

